/* .center {
  display: grid;
  place-items: center;
} */
.steps__container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;

  /* aspect-ratio: 0.5; */
}

.box {
  padding: 24 px;
  color: #fff;
  background: #2f2e46;
  background-image: linear-gradient(180deg, #2f2e46 0%, #1f1e35 100%);
  font-weight: 700;
  font-size: 18px;
  list-style: none;
  counter-reset: numCounter;
  border-radius: 32 px;
  margin: 0;

  height: 150px;
  width: 500px;
  border-radius: 25px;
  /* width: 100px; */
}
.ordered__list {
}
