.intro__content {
  display: grid;
  place-items: center;
  /* font-family: "Open Sans", sans-serif; */
}

.intro__image {
  height: 180px;
  width: 350px;
}

.center {
  display: grid;
  place-items: center;
}
.intro__heading {
}
